NODE_ENV="" # production | development | testing
PORT=""
PG_USER=""
PG_PASSWORD=""
PG_HOST=""
PG_PORT=""
PG_DATABASE=""
DATABASE_URL="postgresql://user:password@host:port/database"
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
ENCRYPTION_MASTER_KEY=""
ADMIN_EMAIL="dev@idip.com.br"
ADMIN_PASSWORD="z<A42$2>;F88"
JWT_SECRET="your_jwt_secret_key"